$light-color: #f8f9fa;
$dark-color: black;
$dark-gray-color: #696969;
$light-link-color: #bcbcf0;
$light-danger: #ffbb00da;

$icon-size: 1.8em;

$trans-duration: 500ms;
$slower-trans-duration: calc($trans-duration * 2);
$trans-animation: fadeIn;
